body {
	background-color: black;
	color: white;
	text-align: center;
}

.thermostat {
	background-color: gray;
	position: relative;
	height: 550px;
	width: 400px;
}

.info {
	background-color: #44c15a;
	position: absolute;
}

.temperature {
	width: 120px;
	height: 100px;
	left: 50px;
}

.thermostatOperatingState {
	width: 120px;
	height: 100px;
	right: 50px;
}

.heatingSetpoint {
	background-color: #ff0000;
	position: absolute;
	width: auto;
	height: 100px;
	top: 175px;
	left: 25px;
	right: 25px;
}

.coolingSetpoint {
	background-color: #00ddff;
	position: absolute;
	width: auto;
	height: 100px;
	top: 300px;
	left: 25px;
	right: 25px;
}

.thermostatMode {
	width: 120px;
	height: 100px;
	top: 425px;
	left: 50px;
}

.thermostatFanMode {
	width: 120px;
	height: 100px;
	top: 425px;
	right: 50px;
}

img {
	height: 100px;
	position: relative;
	margin: 0 20px;
}

.dataNum {
	margin: 0;
	padding: 0;
	position: relative;
}

.setTemp {
	position: relative;
	font-size: 40px;
	top: -1em
}