body {
	background-color: black;
	color: white;
}

.thermostat {
	background-color: gray;
	position: relative;
	text-align: center;
}

.info {
	background-color: #44c15a;
	position: absolute;
}

.heatingSetpoint {
	background-color: #ff0000;
	position: absolute;
}

.coolingSetpoint {
	background-color: #00ddff;
	position: absolute;
}