.container {
	text-align: center;
}

.tstat-label {

}

.tstat-data {
	border: black solid;
}

.tstat-heating {
	border: black solid;
}

.tstat-data, .tstat-heating, .tstat-cooling {
	margin-bottom: 1em;
}

.tstat-cooling {
	border: black solid;
}

.tstat {
	padding: 25px;
	border: black solid;
}